.main
{
	height: 650px;
	width: 100%;
}
.mydiv1
{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 80%;
  margin-bottom: 50px;
  padding-top: 40px;
}
.mydiv1-left
{
  height: 100px;
  width: 80%;
  float: left;
}
.logo-div
{
   margin-left: 100px;
   float: left;
}
.mydiv2
{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  align-items: center;
}
.inner1
{ 
	height: auto;
	width: auto;
	text-align: center;
}
.inner1 .inner11
{
 width: auto;
 height: 60px;
 border-radius: 10px;
 background-color: rgba(255, 0, 0, 0.4);
 margin-bottom: 20px;
}
.inner1 .inner11 span
{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.inner1 .inner12 span
{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.inner1 .inner13 span
{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.inner1 .inner14 span
{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.inner1 .inner15 span
{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.inner1 .inner16 span
{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.inner1 .inner17 span
{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.inner1 .inner18 span
{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.inner1 .inner19 span
{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.inner1 .inner10 span
{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.button {
  margin-top: 10px;
  margin-right: 50px;
  height: 40px;
  float: right;
  border-radius: 20px;
  background-color: rgb(255,0,0);
  border: none;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}
.inner1 .inner12
{
 width: auto;
 height: 60px;
 border-radius: 10px;
 background-color: rgba(255, 0, 0, 0.4);
 margin-bottom: 20px;
}
.inner1 .inner13
{
 width: auto;
 height: 60px;
 border-radius: 10px;
 background-color: rgba(255, 0, 0, 0.4);
 margin-bottom: 20px;
}
.inner1 .inner14
{
 width: auto;
 height: 60px;
 border-radius: 10px;
 background-color: rgba(255, 0, 0, 0.4);
 margin-bottom: 20px;
}
.inner1 .inner15
{
 width: auto;
 height: 60px;
 border-radius: 10px;
 background-color: rgba(255, 0, 0, 0.4);
 margin-bottom: 20px;
}
.inner1 .inner16
{
 width: auto;
 height: 60px;
 border-radius: 10px;
 background-color: rgba(255, 0, 0, 0.4);
 margin-bottom: 20px;
}
.inner1 .inner17
{
 width: auto;
 height: 60px;
 border-radius: 10px;
 background-color: rgba(255, 0, 0, 0.4);
 margin-bottom: 20px;
}
.inner1 .inner18
{
 width: auto;
 height: 60px;
 border-radius: 10px;
 background-color: rgba(255, 0, 0, 0.4);
 margin-bottom: 20px;
}
.inner1 .inner19
{
 width: auto;
 height: 60px;
 border-radius: 10px;
 background-color: rgba(255, 0, 0, 0.4);
 margin-bottom: 20px;
}
.inner1 .inner10
{
 width: auto;
 height: 60px;
 border-radius: 10px;
 background-color: rgba(255, 0, 0, 0.4);
 margin-bottom: 20px;
}
.myinput
{
  text-align: center;
  margin-top: 20px;
  width: 200px;
  height: 20px;
  border-style: double;
  outline: none;
  float: right;
  margin-right: 20px;
  border-radius: 10px;
  border-color: rgb(255,0,0);
}
::placeholder {
  color: black;
  opacity: 1; 
}